:root{
    --blue-1: #2F80ED;
    --blue-2: #2D9CDB; // arrow
    --blue-3: #56CCF2; // arrow
    --dark-black: #222222;
    --dark-black-2: #1F2D3D;
    --dark-gray: #8A9399;
    --dark-silver: #3C4858;
    --snow-color: #F9FAFC;
    --snow-extra-dark: #E5E9F2;
    --gray-2: #4F4F4F; // arrow
    --gray-3: #828282; // arrow
    --gray-4: #BDBDBD; // arrow
    --gray-5: #E0E0E0; // arrow
    --gray-6: #F2F2F2;
    --black-color: #000000;
}

.blue-1{color: var(--blue-1);} .blue-2{color: var(--blue-2);} .blue-3{color: var(--blue-3);} .dark-black{color: var(--dark-black);} .dark-black-2{color: var(--dark-black-2);} .dark-gray{color: var(--dark-gray);} .dark-silver{color: var(--dark-silver);} .snow-color{color: var(--snow-color);} .snow-extra-dark{color: var(--snow-extra-dark);} .gray-2{color: var(--gray-2);} .gray-3{color: var(--gray-3);} .gray-4{color: var(--gray-4);} .gray-5{color: var(--gray-5);} .gray-6{color: var(--gray-6);} .black-color{color: var(--black-color);}
